body {
    font-family: "Mitr", sans-serif;
    margin: 0;
    padding: 0;
    background: #4c0175;
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
html,
body,
#root,
#root > div {
    height: 100%;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.typo__chinese {
  font-family: 'Noto Serif TC', serif;
}

.custom__container { 
    max-width: 840px;
}

.headline {
    background: #4c0175;
    color: #ab31fc;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.btn.btn__start {
    font-size: 30px;
    letter-spacing: 1px;
    padding: 10px 50px;
}
.btn.btn__primary {
    background: #ff521d;
    border-color: #ff521d;
    border-radius: 20px;
}
.btn__img {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
    font-size: 8px;
    color: white;
}
.btn__img img {
    max-width: 50px; 
}

.swal2-styled.swal2-confirm.btn__sweetalert-confirm { 
    background-color: #2cb055;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;
}
.swal2-styled.swal2-cancel.btn__sweetalert-cancel { 
    background-color: #d92c33;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;
}
.swal2-title.type__sweetalert { 
    font-weight: 400;
    font-size: 20px;
}
.swal2-content.type__sweetalert-text { 
    font-size: 40px;
    color: #ff521f;
}
.card__catagory {
    background: #5c0290;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}
.card__catagory:hover,
a:hover {
    text-decoration: none;
    color: white;
}

.card__catagory .desc {
    font-weight: 300;
    font-size: 12px;
    color: #ad72ce;
}

.word__card {
    border-radius: 10px;
    background-color: #400162;
    border: none;
    color: white;
    margin-bottom: 30px;
    width: 100%;
}
.word__card .card-header {
    background-color: transparent;
    border-bottom-color: #531d73;
}
.word__card .card-header .progress {
    background: rebeccapurple;
    height: 6px;
    width: 100%;
}
.word__card .card-header .progress .progress-bar {
    background-color: #ad32ff;
}

.word__card .card-header .number__indicate {
    font-weight: 500;
    font-size: 10px;
    min-width: 50px;
}

.word__card .card-body {
    margin: 30px;
    padding: 0;
}
.word__card .card-footer {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 20px;
    border: none;
}
.word__card .card-footer .btn {
    width: 100%;
    margin-bottom: 10px;
    background: #ff521d;
    border: none;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.word__card .card-footer .btn:active {
    background: #bf3409;
}

.flip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    width: 100%;
    perspective: 1000px;
}
.flip-card {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 200px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: rgba(113, 106, 202, 0.55) 0px 1px 15px 1px;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ad32ff;
  background-image: linear-gradient(to bottom right, #ad33ff, #8152ff);
  color: #fff;
}
/* Style the back side */
.flip-card-back {
  background-color: #ad32ff;
  color: white;
  transform: rotateY(180deg);
}